@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-agency-bg text-slate-100 font-sans selection:bg-agency-accent selection:text-white antialiased;
  margin: 0;
  display: block; /* Override vite default */
  min-height: 100vh;
}

.font-display {
  font-family: 'Space Grotesk', sans-serif;
}

.glass {
  @apply bg-slate-900/40 backdrop-blur-xl border border-white/5;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-agency-primary to-agency-accent;
}

#app {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
